/* css reset */
*,
html {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: whitesmoke;
    text-align: center;
    /* outline: solid green 2px; */ 
}

/* flexboxes */
.card,
main,
#profile {
    display: flex;
    flex-direction: column;
}

/* use main as body */
main {
    width: 100vw;
    height: 100vh;
    background-image: url(./resources/ivana-cajina-HDd-NQ_AMNQ-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-weight: 500;
    text-shadow: 1px 1px 3px black;
}

.card {
    flex-direction: column;
    padding: 1em;
    margin: 1em;
    border-radius: .5rem;
    background-color: transparent;
    align-items: center;
    justify-content: space-around;
    min-width: 95vw;
    min-height: 95vh;
    gap: 1em;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.2));
    background-repeat: no-repeat;
    background-position: center;
    border: .25rem solid rgba(255, 255, 255, 0.5);
}

#profile {
  width: 85vmin;
  height: 85vmin;
  min-width:200px;
  min-height: 200px;
    background-image: url(./resources/profilepic.png);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

/* quote */
blockquote {
    font-family: comfortaa, meslo, system-ui, -apple-system;
    font-size: 2rem;
    border-radius: .5rem;
    align-self: flex-end;
    transform: rotate(-1.125deg);
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.1)), url(./resources/cake.gif);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, contain;
    background-position: center, center;
}

#wish {
    font-size: 2.5rem;
    font-family: norse;
    transform: rotate(1deg);
}

.giftbox {
    align-self: center;
    justify-content: flex-end;
    width: 50vmin;
    height: 50vmin;
    background-image: url(./resources/giftbox.gif);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* import fonts */
@font-face {
    font-family: meslo;
    src: url(./resources/MesloLGS\ NF\ Regular.ttf)
}

@font-face {
    font-family: comfortaa;
    src: url(./resources/Comfortaa-VariableFont_wght.ttf)
}

@font-face {
    font-family: norse;
    src: url(./resources/Norse-Bold.otf)
}

/* landscape fix */
@media (orientation: landscape) {
  .card {
    flex-wrap: wrap;
  }
  blockquote > p{
    overflow-wrap: break-word;
  }
  blockquote{
    max-width: 60vw;
  }
}